body {
    background-color: rgb(70, 69, 67);
    color: azure;
}

.container {
    margin: 5px auto;
    padding: 5px auto;
}

#clock {
    width: 25%;
    margin: auto;
    padding: 2%;
    text-align: center;
    color: rgb(121, 250, 250);
    font-family: sans-serif;
    font-weight: 800;
    background-color: black;
    border: 3px solid orange;
}

#dialog1 {
    width: 50%;
    background-color: rgb(38, 38, 48);
    color: azure;
    border: 3px solid orange;
}

#canvas1 {
    width:100%;
    display: block;
}

.inpt {
    width: 60%; margin: auto;
}

.colorShow {
    width: 200px;
    height: 200px;
    margin: auto;
}

#red {
    background-color: red;
}
  
#green {
    background-color: green;
}
  
#blue {
    background-color: blue;
}

div.input input {
    height: 30px;
    width: 60px;
    font-size: 30px;
    color: seashell;
    text-align: center;
    opacity: 0.7;
    border: none;
    border-radius: 4px;
}