<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/angular/angular.min.js"></script>
    <title>Q4ListBox</title>
</head>
<body>

    <div ng-app="myApp" ng-controller="myController">
        <select ng-model="Monthlist">
            <option ng-repeat="x in monthsList">{{x}}</option>
          </select>
    </div>

    <script>
        var myApp = angular.module("myApp",[]);
        myApp.controller('myController', function($scope) { 
            $scope.monthsList = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        });
    </script>
    
</body>
</html>